/*@tailwind base;*/
/*@tailwind components;*/
/*@tailwind utilities;*/

/*:root {*/
/*  --foreground-rgb: 0, 0, 0;*/
/*  --background-start-rgb: 214, 219, 220;*/
/*  --background-end-rgb: 255, 255, 255;*/
/*}*/

/*@media (prefers-color-scheme: dark) {*/
/*  :root {*/
/*    --foreground-rgb: 255, 255, 255;*/
/*    --background-start-rgb: 0, 0, 0;*/
/*    --background-end-rgb: 0, 0, 0;*/
/*  }*/
/*}*/

/*body {*/
/*  color: rgb(var(--foreground-rgb));*/
/*  background: linear-gradient(*/
/*      to bottom,*/
/*      transparent,*/
/*      rgb(var(--background-end-rgb))*/
/*    )*/
/*    rgb(var(--background-start-rgb));*/
/*}*/

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,300&display=swap');

/* This targets the scrollbar in Webkit-based browsers (like Chrome, Safari) */
::-webkit-scrollbar {
    width: 8px; /* Adjusts the width of the scrollbar */
}

::-webkit-scrollbar-thumb {
    border-radius: 2px;
    background-color: #31E964; /* Sets the color of the scrollbar thumb */
}

/* This targets the scrollbar in Firefox */
* {
    scrollbar-width: thin; /* Makes the scrollbar thinner */
    scrollbar-color: #31E964; /* Sets the color of the scrollbar thumb */
}


body {
    font-family: 'Poppins', sans-serif;
    background-color: #040404;
    background-image: url('../../public/header-bg.png');
    background-size: contain;
    background-repeat: no-repeat;
    color: #EAEAEA;
}

h3 {
    /*color: #BF0449;*/
    color: #31E964;
}

a {
    color: #ADD8E6;
}

h1, h5 {
    text-align: center;
    margin: 0;
}

h1 {
    font-size: 48px;
    color: #f8fff8;
    text-shadow: 1px 1px 5px #2e752e;
    font-weight: 600;

}


h3 {
    font-size: 24px;
    font-weight: 500;
}

h5 {
    font-size: 18px;
    font-weight: 300;
    margin: 0;
    color: #ffffff;
    text-shadow: 1px 1px 2px #256425;
}

.App {

}

p {
    line-height: 1.5;
    margin-bottom: 1em;
}

.tldr p {
    margin: 0.5em;
}

main {
    display: flex;
    justify-items: center;
    align-items: center;
    flex-direction: column;

}

section {
    max-width: 760px;
    margin: 12px 0;
    padding: 4px 24px;

    border-radius: 10px;
    background-color: #212121;
}

.header {
    /*background-color: #249343;*/
    /*background-image: url('../../public/header-bg.png');*/
    /*background-size: cover;*/
    padding: 24px 12px;
    padding-top: 124px;
    margin: -8px -8px 24px -8px;
    text-align: center;
}
.see-projects {
    background-color: #31E964;
    padding: 10px 30px;
    border-radius: 10px;
    color: black;
    text-decoration: none;
    transition: background-color 0.3s ease; /* Adds a transition effect when the button state changes */
    cursor: pointer;
}

.see-projects:hover {
    background-color: #25c74a; /* Darkens the button on hover for a nice interactive effect */
}
